:root{
    --claro: #DAD3BA;
    --principal: #554E46;
    --verde: #4d5e52;
    --fondo: #F7F7F7;
}

html, body, #root{
    margin: 0;
    height: 100vh;
    width: 100%;
    font-family: "Poppins", sans-serif;
}

h1, h4, p{
    margin: 0;
}

img{
    height: 100%;
}

button{
    cursor: pointer;
}

.nav {
    height: 30px;
    width: 100%;
    background-color: var(--claro);
    font-size: 11px;
    font-weight: 500;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding-right: 5%;
    box-sizing: border-box;
}

.nav span{
    gap: 5px;
}

.footer {
    display: flex;
    width: 100%;
    height: calc(20vh - 30px);
    background-color: var(--principal);
    border-top: 5px solid var(--claro);
    box-sizing: border-box;
}

.footer-cont {
    height: 80%;
    width: 100%;
    margin: auto 0;
    gap: 10%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    color: white;
}

.column {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    font-size: 13px;
}

.column div {
    display: flex;
    align-items: flex-start;
}

.col{
    gap: 25px;
}

.column div div {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}

.column span img {
    height: 15px;
    width: 15px;
    object-fit: contain;
    margin-right: 5px;
}

h4 {
    margin-bottom: 5px;
    margin-top: 8px;
    font-weight: 400;
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #7b7561;
}

.footer p{
    font-weight: 300;
}